.square {
    width:150px;
    height:150px;
    background-color: white;
    border: solid 2px black;
}

table {
  float: center;
}
/*.v{
    border-left:5px solid #000;
    border-right:5px solid #000;
}

.h{
    border-top:5px solid #000;
    border-bottom:5px solid #000;
}*/
img {
  max-height: 150px;
  max-width: 150px;
}


#div1 #div2 #div3 #div4 #div5 #div6 #div7 #div8 #div9 #div10 #div11 #div12 #div13 #div14 #div15 #div16 #div17 #div18  {
width:150px;height:150px;
}
body {
  border: solid 50px #33659A;
}

.jumbotron {
  border: solid 1px black;
  margin-top: 45px;
  position: relative;
  background: white url("../images/wreath.png") center center;
  width: 100%;
  height: 300px;
  background-size; cover;
  overflow: hidden;

h1 {
  text-align: center;
}
